@import "tailwindcss";

@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/extra-light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/extra-bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/inter-display/black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}


:root {
  --alpha: hsl(0 0% 0%);
  --gray-50: hsl(0 0% 100%);
  --gray-100: hsl(0 0% 98%);
  --gray-200: hsl(0 0% 96%);
  --gray-300: hsl(0 0% 92%);
  --gray-400: hsl(0 0% 81%);
  --gray-500: hsl(0 0% 71%);
  --gray-600: hsl(0 0% 40%);
  --gray-700: hsl(0 0% 25%);
  --gray-800: hsl(0 0% 15%);
  --gray-900: hsl(60 1% 10%);
  --gray-950: hsl(0 0% 4%);
  --blue-50: hsl(220 100% 96%);
  --blue-500: hsl(215 100% 50%);
  --blue-600: hsl(220 100% 45%);
  --blue-950: hsl(215 90% 20%);
  --cyan-50: hsl(200 100% 96%);
  --cyan-200: hsl(205 100% 90%);
  --cyan-300: hsl(200 100% 83%);
  --cyan-500: hsl(200 100% 58%);
  --cyan-600: hsl(200 100% 45%);
  --green-500: hsl(130 75% 45%);
  --lemon-100: hsl(68 100% 65%);
  --orange-100: hsl(20 80% 92%);
  --orange-500: hsl(20 100% 50%);
  --purple-500: hsl(295 80% 60%);
  --purple-600: hsl(295 67% 52%);
  --red-50: hsl(0 100% 96%);
  --red-500: hsl(0 100% 65%);
  --red-600: hsl(0 70% 50%);
  --yellow-500: hsl(48 100% 50%);

  --size-background-grid: calc((100vw - 7px) / 8);
  --size-grid-full: calc(100vw / 8);
  --grid-divisor: 8;
}

[data-theme="dark"] {
  --alpha: hsl(0 0% 100%);
  --gray-50: hsl(195 10% 8%);
  --gray-100: hsl(192 10% 10%);
  --gray-200: hsl(195 6% 15%);
  --gray-300: hsl(195 3% 20%);
  --gray-400: hsl(180 2% 24%);
  --gray-500: hsl(180 1% 33%);
  --gray-600: hsl(195 1% 55%);
  --gray-700: hsl(195 1% 65%);
  --gray-800: hsl(195 1% 75%);
  --gray-900: hsl(60 2% 85%);
  --gray-950: hsl(60 6% 90%);
  --blue-50: hsl(215 60% 14%);
  --blue-500: hsl(215 100% 50%);
  --blue-600: hsl(220 100% 45%);
  --blue-950: hsl(215 90% 20%);
  --cyan-50: hsl(200 100% 50%);
  --cyan-200: hsl(200 100% 50%);
  --cyan-300: hsl(200 100% 50%);
  --cyan-500: hsl(200 100% 50%);
  --cyan-600: hsl(200 100% 50%);
  --green-500: hsl(130 75% 45%);
  --lemon-100: hsl(68 100% 65%);
  --orange-100: hsl(20 50% 20%);
  --orange-500: hsl(20 100% 50%);
  --purple-500: hsl(295 80% 60%);
  --purple-600: hsl(295 67% 52%);
  --red-50: hsl(0 100% 96%);
  --red-500: hsl(0 100% 65%);
  --red-600: hsl(0 70% 50%);
  --yellow-500: hsl(48 100% 50%);
}

@media (min-width: 768px) {
  :root {
    --size-background-grid: calc((100vw - 17px) / 18);
    --size-grid-full: calc(100vw / 18);
    --grid-divisor: 18;
  }
}

@theme {
  --text-3xs: 0.5rem;
  --text-3xs--line-height: 1rem;
  --text-3xs--letter-spacing: 0em;
  --text-2xs: 0.625rem;
  --text-2xs--line-height: 1rem;
  --text-2xs--letter-spacing: 0em;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-xs--letter-spacing: 0em;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-sm--letter-spacing: 0em;
  --text-base: 1rem;
  --text-base--line-height: 1.25rem;
  --text-base--letter-spacing: 0em;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.5rem;
  --text-lg--letter-spacing: 0em;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.75rem;
  --text-xl--letter-spacing: -0.01em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2.25rem;
  --text-2xl--letter-spacing: -0.01em;
  --text-3xl: 2rem;
  --text-3xl--line-height: 1em;
  --text-3xl--letter-spacing: -0.01em;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 1.2em;

  --shadow-minus-8: 0 -8px 48px rgba(0, 0, 0, 0.5);
  --shadow-dropdown: 0 4px 24px -8px rgba(0, 0, 0, 0.2);

  --color-dark-studio: #0a0a0a;
  --color-alpha: var(--alpha);
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);
  --color-blue-50: var(--blue-50);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-950: var(--blue-950);
  --color-cyan-50: var(--cyan-50);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --color-cyan-500: var(--cyan-500);
  --color-cyan-600: var(--cyan-600);
  --color-green-500: var(--green-500);
  --color-lemon-100: var(--lemon-100);
  --color-orange-100: var(--orange-100);
  --color-orange-500: var(--orange-500);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-red-50: var(--red-50);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-yellow-500: var(--yellow-500);

  --ease-fluid: cubic-bezier(0.08, 0.82, 0.17, 1);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;

  --animate-accordion-fade-down: accordion-fade-down 0.2s ease-out;
  --animate-accordion-fade-up: accordion-fade-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes accordion-fade-down {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes accordion-fade-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}


@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-300) transparent;
  }
  body {
    font-family: "InterDisplay", sans-serif;
    font-feature-settings:
      "ss03" on,
      "cv01" on;
    background-color: var(--color-gray-50);
    color: var(--color-gray-950);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    scrollbar-width: none;
  }
}

@layer utilities {
  .control-panel-shadow:hover {
    box-shadow:
      0px 16px 32px 0px rgba(0, 0, 0, 0.1),
      0px 8px 0px 0px rgba(0, 0, 0, 0.05);
  }

  .grid-pattern-bg {
    background-size: calc(var(--size-background-grid) + 1px)
      calc(var(--size-background-grid) + 1px);
    background-repeat: repeat;
  }

  .grid-alpha-10 {
    background-image:
      linear-gradient(
        to right,
        transparent var(--size-background-grid),
        var(--color-alpha) var(--size-background-grid),
        var(--color-alpha) calc(var(--size-background-grid) + 1px)
      ),
      linear-gradient(
        to bottom,
        transparent var(--size-background-grid),
        var(--color-alpha) var(--size-background-grid),
        var(--color-alpha) calc(var(--size-background-grid) + 1px)
      );
    opacity: 0.1;
  }

  .grid-black-30 {
    background-image:
      linear-gradient(
        to right,
        transparent var(--size-background-grid),
        #000000 var(--size-background-grid),
        #000000 calc(var(--size-background-grid) + 1px)
      ),
      linear-gradient(
        to bottom,
        transparent var(--size-background-grid),
        #000000 var(--size-background-grid),
        #000000 calc(var(--size-background-grid) + 1px)
      );
    opacity: 0.3;
  }

  .ease-gradient-to-r {
    background: linear-gradient(
      90deg,
      --alpha(var(--color-gray-50) / 0%) 0%,
      --alpha(var(--color-gray-50) / 1%) 6.67%,
      --alpha(var(--color-gray-50) / 4%) 13.33%,
      --alpha(var(--color-gray-50) / 8%) 20%,
      --alpha(var(--color-gray-50) / 15%) 26.67%,
      --alpha(var(--color-gray-50) / 23%) 33.33%,
      --alpha(var(--color-gray-50) / 33%) 40%,
      --alpha(var(--color-gray-50) / 44%) 46.67%,
      --alpha(var(--color-gray-50) / 56%) 53.33%,
      --alpha(var(--color-gray-50) / 67%) 60%,
      --alpha(var(--color-gray-50) / 77%) 66.67%,
      --alpha(var(--color-gray-50) / 85%) 73.33%,
      --alpha(var(--color-gray-50) / 92%) 80%,
      --alpha(var(--color-gray-50) / 96%) 86.67%,
      --alpha(var(--color-gray-50) / 99%) 93.33%,
      var(--color-gray-50) 100%
    );
  }
  .ease-gradient-to-r {
    background: linear-gradient(
      to left,
      --alpha(var(--color-gray-50) / 0%) 0%,
      --alpha(var(--color-gray-50) / 1%) 6.67%,
      --alpha(var(--color-gray-50) / 4%) 13.33%,
      --alpha(var(--color-gray-50) / 8%) 20%,
      --alpha(var(--color-gray-50) / 15%) 26.67%,
      --alpha(var(--color-gray-50) / 23%) 33.33%,
      --alpha(var(--color-gray-50) / 33%) 40%,
      --alpha(var(--color-gray-50) / 44%) 46.67%,
      --alpha(var(--color-gray-50) / 56%) 53.33%,
      --alpha(var(--color-gray-50) / 67%) 60%,
      --alpha(var(--color-gray-50) / 77%) 66.67%,
      --alpha(var(--color-gray-50) / 85%) 73.33%,
      --alpha(var(--color-gray-50) / 92%) 80%,
      --alpha(var(--color-gray-50) / 96%) 86.67%,
      --alpha(var(--color-gray-50) / 99%) 93.33%,
      var(--color-gray-50) 100%
    );
  }
}

@plugin 'tailwindcss-animate';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
